:root {
    --red-100: #e6a3a3;
    --red-200: #db7a7a;
    --red-300: #cf5252;
    --red-400: #c42929;
    --red-500: #b90000;
    --red-600: #9b0000;
    --red-700: #7e0000;
    --red-800: #600000;
    --red-900: #430000;

    --blue-grey-100: #ECEFF1;
    --blue-grey-200: #B0BEC5;
    --blue-grey-300: #90A4AE;
    --blue-grey-400: #78909C;
    --blue-grey-500: #607D8B;
    --blue-grey-600: #546E7A;
    --blue-grey-700: #455A64;
    --blue-grey-800: #37474F;
    --blue-grey-900: #263238;

    --background-color: #fff;
    --primary-text-color: #000;
    --secondary-text-color: var(--red-500);
    --inverted-text-color: #fff;
    --accent-color: #000;
    --hover-color: var(--red-700);
}

[data-theme="dark"] {
    --background-color: #121212;
    --primary-text-color: var(--blue-grey-300);
    --secondary-text-color: var(--blue-grey-400);
    --hover-color: var(--blue-grey-700);
    --hover-border-color: var(--blue-grey-600);
    --accent-color: var(--blue-grey-300);
    --inverted-text-color: var(--blue-grey-900);
}

html {
    font-size: 100%;
}

body {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: monospace;
    font-size: 1rem;
}

a {
    color: var(--secondary-text-color);
    text-decoration: none;
}

a:hover {
    color: var(--hover-color);
    text-decoration: underline;
}

ul {
    margin: 1rem 0 1rem 2rem;
    padding: 0;
    list-style-position: inside;
}

.user {
    margin: 1rem 0;
}

.user header {
    margin: 1rem 0;
    font-weight: bold;
}

.user.error p {
    margin-left: 2rem;
}

.music-note {
    color: var(--accent-color);
    margin-left: .625rem;
    display: inline-block;
    animation-duration: 500ms;
    animation-name: dance;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: steps(3, end);
    transform-origin: bottom center;
}

@keyframes dance {
    from {
        transform: skew(15deg);
    }

    to {
        transform: skew(-30deg);
    }
}

button {
    padding: .25rem .5rem;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-align: center;
    vertical-align: middle;
    background-color: var(--secondary-text-color);
    font-family: inherit;
    color: var(--inverted-text-color);
    user-select: none;
}

button:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-border-color);
}

button:active {
    background-color: var(--hover-color);
    border-color: var(--hover-border-color);
}

button.refresh {
    float: right;
}

button.paint {
    clear: right;
    margin-top: 3px;
    float: right;
}

a.loved {
    font-weight: bold;
}