:root {
    --red-100: #e6a3a3;
    --red-200: #db7a7a;
    --red-300: #cf5252;
    --red-400: #c42929;
    --red-500: #b90000;
    --red-600: #9b0000;
    --red-700: #7e0000;
    --red-800: #600000;
    --red-900: #430000;
}

html {
    font-size: 100%;
}

body {
    background-color: #fff;
    color: #000;
    font-family: monospace;
    font-size: 1rem;
}

a {
    color: var(--red-500);
    text-decoration: none;
}

a:hover {
    color: var(--red-700);
    text-decoration: underline;
}

ul {
    margin: 1rem 0 1rem 2rem;
    padding: 0;
    list-style-position: inside;
}

.user {
    margin: 1rem 0;
}

.user header {
    margin: 1rem 0;
    font-weight: bold;
}

.user.error p {
    margin-left: 2rem;
}

.music-note {
    margin-left: .625rem;
    display: inline-block;
    animation-duration: 500ms;
    animation-name: dance;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: steps(3, end);
    transform-origin: bottom center;
}

@keyframes dance {
    from {
        transform: skew(15deg);
    }

    to {
        transform: skew(-30deg);
    }
}

button {
    padding: .25rem .5rem;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-align: center;
    vertical-align: middle;
    background-color: var(--red-500);
    font-family: inherit;
    color: #ffffff;
    user-select: none;
}

button:hover {
    background-color: var(--red-600);
    border-color: var(--red-700);
}

button:active {
    background-color: var(--red-700);
    border-color: var(--red-800);
}

button.refresh {
    float: right;
}
