html {
    font-size: 100%;
}

body {
    background-color: #fff;
    color: #000;
    font-family: monospace;
    font-size: 1rem;
}

a {
    color: #B90000;
}

ul {
    margin: 1rem 0 1rem 2rem;
    padding: 0;
    list-style-position: inside;
}

.user {
    margin: 1rem 0;
}

.user header {
    margin: 1rem 0;
    font-weight: bold;
}

.user.error p {
    margin-left: 2rem;
}

.music-note {
    margin-left: .625rem;
    display: inline-block;
    animation-duration: 500ms;
    animation-name: dance;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: steps(3, end);
    transform-origin: bottom center;
}

@keyframes dance {
    from {
        transform: skew(15deg);
    }

    to {
        transform: skew(-30deg);
    }
}

#refresh {
    float: right;
}